<!-- <div class="carrousel">
    <article class="card">
        <h1>HTML</h1>

    </article>
    <article class="card">
        <h1>CSS</h1>

    </article>
    <article class="card">
        <h1>JS</h1>

    </article>
    <article class="card">
        <h1>React</h1>

    </article>
    <article class="card">
        <h1>Agular</h1>

    </article>

</div> -->
<c-carousel [interval]="0">
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        
        <img
          [src]="slide.src"
          alt="{{slide.title}}"
          class="d-block w-100"
          loading="eager"
        />
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
